{% extends 'admin/header.html' %}

{% block content %}
<div class="container position-absolute top-50 start-50 translate-middle">
  <form name="data" method="post">
    <div class="d-flex flex-column">
      <div style="margin: auto">
        {{ form.username(class="input-group mb-3", style="width: 300px;", placeholder="Логин") }}
      </div>

      <div style="margin: auto">
        {{ form.name(class="input-group mb-3", style="width: 300px;", placeholder="Имя пользователя") }}
      </div>

      <div style="margin: auto">
        {{ form.surname(class="input-group mb-3", style="width: 300px;", placeholder="Фамилия пользователя") }}
      </div>

      <div style="text-align: center">
        {{ form.submit(class="mb-3", style="width: 300px") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}